body {
  margin: 0;
  background-color: rgb(247, 241, 241);
}

.carousel {
  position: relative;
}

.carousel-slides__container {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.carousel-slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -999;
  padding: 40px;
  box-sizing: border-box;
  min-height: 100vh;
}

.active {
  opacity: 1;
  z-index: 2;
}

.carousel-slide:nth-of-type(1) {
  background-image: url(../img/slide-image-1.jpg);
}

.carousel-slide:nth-of-type(2) {
  background-image: url(../img/slide-image-2.jpg);
}

.carousel-slide:nth-of-type(3) {
  background-image: url(../img/slide-image-3.jpg);
}

.carousel-slide:nth-of-type(4) {
  background-image: url(../img/slide-image-4.jpg);
}

.carousel-slide:nth-of-type(5) {
  background-image: url(../img/slide-image-5.jpg);
}

.carousel-controls__container {
  display: flex;
  justify-content: space-between;
}

.carousel-indicators__container {
  display: flex;
  justify-content: center;
}

.carousel-indicator,
.carousel-control {
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  user-select: none;
}

.carousel-control {
  font-size: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50vh;
  margin-bottom: 20px;
  color: rgb(128, 128, 136);
}

.carousel-indicator {
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 1em;
  margin-top: 35vh;
  width: 1rem;
  height: 1rem;
  border: 3px solid lightgray;
}

.carousel-indicator.active {
  color: white;
  border: 3px solid rgb(235, 229, 229);
  box-shadow: 0 0 10px white;
}

.carousel-control:hover {
  color: white;
  transition: 0.5s;
}

.carousel-indicator:hover {
  box-shadow: 0 0 10px white;
  transition: 0.5s;
}